body{
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  padding-top: 90px;
  padding-left: 98px;
  padding-bottom: 10px;
  padding-right: 20px;
}
.pass{
  text-decoration: none;
  cursor:pointer;
  color: black;
  z-index:20;
}
@media(max-width:780px){
  body{
    padding: 60px;
  }
}